form {
  margin-top:100 ;
  background-color: white;
  text-align: center;
 
}
h2 {
  text-align: center;
}
img {
  max-width: 100%;
  display: inline-block;
}
body {
  background-image: url("./3000.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
