form {
  margin-top:200px;
  margin-bottom: 100px;
  margin-left: 500px;
  margin-right: 500px;
  background-color: white;
  text-align: center;
  padding: 10px;
 
}
h2 {
  text-align: center;
}
img {
  max-width: 100%;
  display: inline-block;
}
body {
  background-image: url("./3000.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.mouse{
    display: ;
    justify-content: center;
}